extends ../shared/layout
block main-content
  h1 Create new user
  form(method="post" action="/users/create")
    label(for="username") Username
    br
    input(type="text" name="username" id="username" value=username)
    br
    label(for="password") Password
    br
    input(type="password" name="password" id="password")
    br
    label(for="confirm-password") Confirm Password
    br
    input(type="password" name="confirmPassword" id="confirm-password")
    br
    label(for="first-name") First Name
    br
    input(type="text" name="firstName" id="first-name")
    br
    label(for="last-name") Last Name
    br
    input(type="text" name="lastName" id="last-name")
    br
    input(type="submit" value="Create")